<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="" method="post">
          {% csrf_token %}
<label for ="id">E_id:</label>
<input type="text" id="fname" name="e_id"><br><br>
<label for ="name">Name:</label>
<input type="text" id="name" name="name"><br><br>
<label for ="Email">Age:</label>
<input type="text" id="fname" name="age"><br><br>
<label for ="phone">Address:</label>
<input type="text" id="lname" name="address"><br><br>
<label for ="phone">salary:</label>
<input type="text" id="lname" name="salary"><br><br>
<label for ="phone">Department:</label>
<input type="text" id="lname" name="dept"><br><br>
<input type="submit" value="Submit">
   </form>
</body>
</html